*{
  box-sizing: border-box;
}
#root {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
  overflow: hidden;
}

a.active{
  border-bottom: solid 4px white ;
  font-weight: bold;
}

.side-menue a.active{
  background-color: black;
  color: white;
}

aside{
  width : 90%;
  position: absolute;
  background: white;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 1rem  0rem;
  text-align: start;
  transition-duration: 0.5s ;
  transition-timing-function: ease;


}
aside.displayed{
transform: translate(0%);
}

aside.non-displayed{
  transform: translateX(100%);
}
